<li class="list-group-item farmer-list-group-item">
    <div class="container">
        <div class="row justify-content-center" id="farmer-tab-<%= index %>">
            <div class="col-xl-2 col-lg-2 col-md-2 col-xs-3"><img class="farmer-img" height="100" src="images/farmer_food_image.png" alt="" /></div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-xs-7">
                <div class="row">
                    <div class="col-lg-8"><h2>[user.farmer.itemlist.<%= index %>.name]</h2></div>
                    <div class="col-lg-8">[user.farmer.itemlist.<%= index %>.quantity]</div>
                    <div class="col-lg-8">[user.farmer.itemlist.<%= index %>.price]</div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-xs-2">
                <button type="button" class="btn btn-outline-light btn-sm" id="farmer-modal-button-<%= index %>" data-toggle="modal" data-target="#farmer-modal-<%= index %>" data-name="user.farmer.itemlist.i.name" data-quantity="user.farmer.itemlist.i.quantity" data-price="user.farmer.itemlist.i.price">Edit</button>
            </div>
        </div>
    </div>
    <div class="modal farmer-modal fade" id="farmer-modal-<%= index %>" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Edit Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Edited for database querry; no idea if this is correct -->
                    <form action="/profile/signup" method="post">
                        <div class="form-group">
                            <label for="item-name-label" class="col-form-label" name="type">Item Name:</label>
                            <input type="text" class="form-control item-name" id="farmer-modal-item-name-input-<%= index %>">
                        </div>
                        <div class="form-group">
                            <label for="item-quantity-label" class="col-form-label" name="quantity">Item Quantity:</label>
                            <input type="text" class="form-control item-quantity" id="farmer-modal-item-quantity-input-<%= index %>"></input>
                        </div>
                        <div class="form-group">
                            <label for="item-price-label" class="col-form-label" name="price">Item Price:</label>
                            <input type="text" class="form-control item-price" id="farmer-modal-item-price-input-<%= index %>"></input>
                        </div>
                        <div class="form-group">
                            <label for="item-vendor-label" class="col-form-label" name="name">Vendor Name:</label>
                            <input type="text" class="form-control item-vendor" id="farmer-modal-item-vendor-input-<%= index %>"></input>
                        </div>
                        <!-- NOTE: This should not just be a contact email, but the user's registered email. But idk how to do that-->
                        <div class="form-group">
                            <label for="item-email-label" class="col-form-label" name="email">Contact Email:</label>
                            <input type="text" class="form-control item-email" id="farmer-modal-item-email-input-<%= index %>"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary btn-sm" id="farmer-modal-submit-<%= index %>" data-dismiss="modal">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</li>
